<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Nalituwe</title>
    <style>
    .wrapper{

    }
<!--.wrapper{
display:grid;
grid-template-columns: 70% 30%;
grid-column-gap:1em;
grid-row-gap:1em;
grid-gap:1em;
}-->
.wrapper > div{
background:#eee;
padding:1em;
}
.wrapper > div: nth-child(odd){
background:#ddd;}

</style>
</head>
<body>
<div class="wrapperGrid">
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales turpis justo, a efficitur nulla sollicitudin quis.
        Vestibulum id laoreet tellus.
        Aliquam nec risus placerat, mattis est ut, tincidunt enim. Quisque auctor laoreet mi, id auctor eros vehicula vel.
        Pharetra tellus rutrum non. Proin posuere libero hendrerit, commodo neque eu, varius elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Suspendisse potenti. Etiam quis feugiat felis.
        Nunc blandit enim risus, sed semper velit pulvinar fermentum. Praesent fermentum dignissim ante.

    </div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales turpis justo, a efficitur nulla sollicitudin quis.
        Vestibulum id laoreet tellus.
        Aliquam nec risus placerat, mattis est ut, tincidunt enim. Quisque auctor laoreet mi, id auctor eros vehicula vel.
        Pharetra tellus rutrum non. Proin posuere libero hendrerit, commodo neque eu, varius elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Suspendisse potenti. Etiam quis feugiat felis.
        Nunc blandit enim risus, sed semper velit pulvinar fermentum. Praesent fermentum dignissim ante.

    </div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales turpis justo, a efficitur nulla sollicitudin quis.
        Vestibulum id laoreet tellus.
        Aliquam nec risus placerat, mattis est ut, tincidunt enim. Quisque auctor laoreet mi, id auctor eros vehicula vel.
        Pharetra tellus rutrum non. Proin posuere libero hendrerit, commodo neque eu, varius elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Suspendisse potenti. Etiam quis feugiat felis.
        Nunc blandit enim risus, sed semper velit pulvinar fermentum. Praesent fermentum dignissim ante.

    </div>


</div>



</body>
</html>